<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_idme_client_id", 
      Spree.t('product_rule.idme_client_id') %>
  <%= text_field_tag promotion_rule.spree_idme_setting.idme_client_id_string, 
      promotion_rule.spree_idme_setting.idme_client_id_string, :class => 'fullwidth' %>

</div>

<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_idme_client_secret", 
      Spree.t('product_rule.idme_client_secret') %>

  <%= text_field_tag promotion_rule.spree_idme_setting.idme_client_secret, 
      promotion_rule.spree_idme_setting.idme_client_secret, :class => 'fullwidth' %>

</div>

<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_idme_redirect_uri", 
      Spree.t('product_rule.site_redirect_url') %>

  <%= text_field_tag promotion_rule.spree_idme_setting.redirect_uri, 
      promotion_rule.spree_idme_setting.redirect_uri, :class => 'fullwidth' %>

</div>

<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_military_button", 
      Spree.t('product_rule.military_button_image_url') %>

  <%= text_field_tag promotion_rule.spree_idme_setting.military_button, 
      promotion_rule.spree_idme_setting.military_button, :class => 'fullwidth' %>

</div>

<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_student_button", 
      Spree.t('product_rule.student_button_image_url') %>

  <%= text_field_tag promotion_rule.spree_idme_setting.student_button, 
      promotion_rule.spree_idme_setting.student_button, :class => 'fullwidth' %>

</div>

<div class="field alpha omega eight columns">

  <%= label_tag "#{param_prefix}_responder_button", 
      Spree.t('product_rule.responder_button_image_url') %>

  <%= text_field_tag promotion_rule.spree_idme_setting.responder_button, 
      promotion_rule.spree_idme_setting.responder_button, :class => 'fullwidth' %>

</div>

<div class="field alpha omega two columns">

  <%= label_tag "#{param_prefix}_idme_sandbox", 
      Spree.t('product_rule.sandbox') %>

  <%= check_box_tag "#{param_prefix}[idme_sandbox]", '1', 
      promotion_rule.idme_sandbox, :class => 'fullwidth' %>

</div>

<div class="field alpha omega two columns">

</div>
