<div class="field alpha omega eight columns">
  <% # Parse out the current promotion rule from the params prefix %>
  <% rules_id = param_prefix.scan(/\d+/)[0].to_i %>
  <% rules = IdmePromotionRule.find rules_id %>
  <% if @affinity_groups.nil? %>
    <META HTTP-EQUIV="refresh" CONTENT="1">
  <% else %>
    <%= hidden_field_tag "idme_promotion_rules_id", rules_id %>
    <% @affinity_groups.each do |affinity_group| %>
      <div id="<%= affinity_group.scope %>-container">
        <%= affinity_group.name %>
        <div class="field alpha omega eight columns">
          <% affinity_group.affinity_subgroups.each do |affinity_subgroup| %>
            <%= check_box_tag "active_promotion_affinities[]", affinity_subgroup.id.to_s,
                    rules.active_promotion_affinities.include?(affinity_subgroup.id.to_s) %>
            <%= label_tag "active_promotion_affinities[]", affinity_subgroup.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @settings.nil? %>
    <% if @settings.idme_client_id_string.nil? || @settings.idme_client_id_string.blank? %>
      <button name="api_keys">
        <span><a href="https://developer.id.me/" target="_blank" class="button">Obtain IDme API Keys</a></span>
      </button>
    <% end %>
  <% end %>

  <%= link_to "ID.me Settings", admin_idme_settings_path, :class => "button" %>
</div>
