<div class="field alpha omega eight columns">
  <center>
    <%= radio_button_tag "#{param_prefix}[idme_affinity]", :military, promotion_rule.idme_affinity.nil? || promotion_rule.idme_affinity == "military" %>
    <%= label_tag "#{param_prefix}_idme_affinity", Spree.t('promotion_rule.military') %>
    &nbsp;
    &nbsp;
    <%= radio_button_tag "#{param_prefix}[idme_affinity]", :student, promotion_rule.idme_affinity == "student" %>
    <%= label_tag "#{param_prefix}_idme_affinity", Spree.t('promotion_rule.students') %>
    &nbsp;
    &nbsp;
    <%= radio_button_tag "#{param_prefix}[idme_affinity]", :responder, promotion_rule.idme_affinity == "responder" %>
    <%= label_tag "#{param_prefix}_idme_affinity", Spree.t('promotion_rule.responders') %>

    <br />
    <br />

    <% if SpreeIdmeSetting.first.idme_client_id_string.nil? || SpreeIdmeSetting.first.idme_client_id_string.blank? %>
      <a href="https://developer.id.me/" target="_blank" class="button">Obtain IDme API Keys</a>
    <% end %>
 
    <%= link_to "Site-Wide ID.me Settings", admin_idme_settings_path, :class => "button" %>
  </center>

</div>
