<div class="promotion_rule promotion-block alpha omega eight columns" id="idme_settings">
  <h6 class="promotion-title ">Site-Wide ID.me Settings</h6>
  <%= form_for(@settings, :url => publish_admin_idme_settings_path) do |form| %>

    <div class="field alpha omega eight columns">
      <%= form.label :idme_client_id_string, "ID.me Client ID" %>:
      <%= form.text_field :idme_client_id_string, :class => 'fullwidth' %><br />
    </div>

    <div class="field alpha omega eight columns">
      <%= form.label :idme_client_secret, "ID.me Client Secret" %>:
      <%= form.text_field :idme_client_secret, :class => 'fullwidth' %><br />
    </div>

    <div class="field alpha omega eight columns">
      <%= form.label :redirect_uri, "Redirect URL" %>:
      <%= form.text_field :redirect_uri, :class => 'fullwidth' %><br />
    </div>

    <% #TODO: Add paperclip for uploading custom icons for affinity groups. %>

    <div class="field alpha omega eight columns">
      <%= form.label :military_button, "Military Button" %>:
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <%= form.select :military_button,
          options_for_select(
              {
                  "Small Red Rounded"         => "https://s3.amazonaws.com/idme/buttons/troop_red_rnd_20.png",
                  "Medium Red Rounded"        => "https://s3.amazonaws.com/idme/buttons/troop_red_rnd_32.png",
                  "Large Red Rounded"         => "https://s3.amazonaws.com/idme/buttons/troop_red_rnd_40.png",
                  "Small Red Square"          => "https://s3.amazonaws.com/idme/buttons/troop_red_squ_20.png",
                  "Medium Red Square"         => "https://s3.amazonaws.com/idme/buttons/troop_red_squ_32.png",
                  "Large Red Square"          => "https://s3.amazonaws.com/idme/buttons/troop_red_squ_40.png",
                  "Small Black Rounded"       => "https://s3.amazonaws.com/idme/buttons/troop_black_rnd_20.png",
                  "Medium Black Rounded"      => "https://s3.amazonaws.com/idme/buttons/troop_black_rnd_32.png",
                  "Large Black Rounded"       => "https://s3.amazonaws.com/idme/buttons/troop_black_rnd_40.png",
                  "Small Black Square"        => "https://s3.amazonaws.com/idme/buttons/troop_black_squ_20.png",
                  "Medium Black Square"       => "https://s3.amazonaws.com/idme/buttons/troop_black_squ_32.png",
                  "Large Black Square"        => "https://s3.amazonaws.com/idme/buttons/troop_black_squ_40.png",
                  "Small Light Gray Rounded"  => "https://s3.amazonaws.com/idme/buttons/troop_gray1_rnd_20.png",
                  "Medium Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/troop_gray1_rnd_32.png",
                  "Large Light Gray Rounded"  => "https://s3.amazonaws.com/idme/buttons/troop_gray1_rnd_40.png",
                  "Small Light Gray Square"   => "https://s3.amazonaws.com/idme/buttons/troop_gray1_squ_20.png",
                  "Medium Light Gray Square"  => "https://s3.amazonaws.com/idme/buttons/troop_gray1_squ_32.png",
                  "Large Light Gray Square"   => "https://s3.amazonaws.com/idme/buttons/troop_gray1_squ_40.png",
                  "Small Dark Gray Rounded"   => "https://s3.amazonaws.com/idme/buttons/troop_gray2_rnd_20.png",
                  "Medium Dark Gray Rounded"  => "https://s3.amazonaws.com/idme/buttons/troop_gray2_rnd_32.png",
                  "Large Dark Gray Rounded"   => "https://s3.amazonaws.com/idme/buttons/troop_gray2_rnd_40.png",
                  "Small Dark Gray Square"    => "https://s3.amazonaws.com/idme/buttons/troop_gray2_squ_20.png",
                  "Medium Dark Gray Square"   => "https://s3.amazonaws.com/idme/buttons/troop_gray2_squ_32.png",
                  "Large Dark Gray Square"    => "https://s3.amazonaws.com/idme/buttons/troop_gray2_squ_40.png",
                  "Small White Rounded"       => "https://s3.amazonaws.com/idme/buttons/troop_white_rnd_20.png",
                  "Medium White Rounded"      => "https://s3.amazonaws.com/idme/buttons/troop_white_rnd_32.png",
                  "Large White Rounded"       => "https://s3.amazonaws.com/idme/buttons/troop_white_rnd_40.png",
                  "Small White Square"        => "https://s3.amazonaws.com/idme/buttons/troop_white_squ_20.png",
                  "Medium White Square"       => "https://s3.amazonaws.com/idme/buttons/troop_white_squ_32.png",
                  "Large White Square"        => "https://s3.amazonaws.com/idme/buttons/troop_white_squ_40.png"
              }, selected: @settings.military_button), {} %><br />
      <br />
      <img src="<%= @settings.military_button %>" />
    </div>

    <div class="field alpha omega eight columns">
      <%= form.label :student_button, "Student Button" %>:
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <%= form.select :student_button,
          options_for_select(
              {
                  "Small Black Rounded" => "https://s3.amazonaws.com/idme/buttons/student_black_rnd_20.png",
                  "Medium Black Rounded"=> "https://s3.amazonaws.com/idme/buttons/student_black_rnd_32.png",
                  "Large Black Rounded" => "https://s3.amazonaws.com/idme/buttons/student_black_rnd_40.png",
                  "Small Black Square" => "https://s3.amazonaws.com/idme/buttons/student_black_squ_20.png",
                  "Medium Black Square" => "https://s3.amazonaws.com/idme/buttons/student_black_squ_32.png",
                  "Large Black Square" => "https://s3.amazonaws.com/idme/buttons/student_black_squ_40.png",
                  "Small Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray1_rnd_20.png",
                  "Medium Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray1_rnd_32.png",
                  "Large Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray1_rnd_40.png",
                  "Small Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray1_squ_20.png",
                  "Medium Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray1_squ_32.png",
                  "Large Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray1_squ_40.png",
                  "Small Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray2_rnd_20.png",
                  "Medium Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray2_rnd_32.png",
                  "Large Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/student_gray2_rnd_40.png",
                  "Small Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray2_squ_20.png",
                  "Medium Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray2_squ_32.png",
                  "Large Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/student_gray2_squ_40.png",
                  "Small White Rounded" => "https://s3.amazonaws.com/idme/buttons/student_white_rnd_20.png",
                  "Medium White Rounded" => "https://s3.amazonaws.com/idme/buttons/student_white_rnd_32.png",
                  "Large White Rounded" => "https://s3.amazonaws.com/idme/buttons/student_white_rnd_40.png",
                  "Small White Square" => "https://s3.amazonaws.com/idme/buttons/student_white_squ_20.png",
                  "Medium White Square" => "https://s3.amazonaws.com/idme/buttons/student_white_squ_32.png",
                  "Large White Square" => "https://s3.amazonaws.com/idme/buttons/student_white_squ_40.png"
              }, selected: @settings.student_button), {} %><br />
      <br />
      <img src="<%= @settings.student_button %>" />
    </div>

    <div class="field alpha omega eight columns">
      <%= form.label :responder_button, "Responder Button" %>:
      &nbsp;
      &nbsp;
      <%= form.select :responder_button,
          options_for_select(
              {
                  "Small Black Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_black_rnd_20.png",
                  "Medium Black Rounded"=> "https://s3.amazonaws.com/idme/buttons/responder_black_rnd_32.png",
                  "Large Black Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_black_rnd_40.png",
                  "Small Black Square" => "https://s3.amazonaws.com/idme/buttons/responder_black_squ_20.png",
                  "Medium Black Square" => "https://s3.amazonaws.com/idme/buttons/responder_black_squ_32.png",
                  "Large Black Square" => "https://s3.amazonaws.com/idme/buttons/responder_black_squ_40.png",
                  "Small Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_rnd_20.png",
                  "Medium Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_rnd_32.png",
                  "Large Light Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_rnd_40.png",
                  "Small Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_squ_20.png",
                  "Medium Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_squ_32.png",
                  "Large Light Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray1_squ_40.png",
                  "Small Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_rnd_20.png",
                  "Medium Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_rnd_32.png",
                  "Large Dark Gray Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_rnd_40.png",
                  "Small Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_squ_20.png",
                  "Medium Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_squ_32.png",
                  "Large Dark Gray Square" => "https://s3.amazonaws.com/idme/buttons/responder_gray2_squ_40.png",
                  "Small White Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_white_rnd_20.png",
                  "Medium White Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_white_rnd_32.png",
                  "Large White Rounded" => "https://s3.amazonaws.com/idme/buttons/responder_white_rnd_40.png",
                  "Small White Square" => "https://s3.amazonaws.com/idme/buttons/responder_white_squ_20.png",
                  "Medium White Square" => "https://s3.amazonaws.com/idme/buttons/responder_white_squ_32.png",
                  "Large White Square" => "https://s3.amazonaws.com/idme/buttons/responder_white_squ_40.png"
              }, selected: @settings.responder_button), {} %><br />
      <br />
      <img src="<%= @settings.responder_button %>" />
    </div>

    <center>
      <div class="field alpha omega eight columns">
        <%= form.label :idme_sandbox, "Sandbox Mode" %>:
        <%= form.check_box :idme_sandbox %>

        &nbsp;
        &nbsp;
        &nbsp;

        <%= form.label :idme_modal, "Enable Modal" %>:
        <%= form.check_box :idme_modal %>
      </div>

      <div class="field alpha omega eight columns">
        <%= form.submit "Update ID.me Settings" %>
        <% if @settings.idme_client_id_string.nil? || @settings.idme_client_id_string.blank? %>
          <a href="https://developer.id.me/" target="_blank" class="button">Obtain IDme API Keys</a>
        <% else %>
          <%= link_to "Back to Promotions", admin_promotions_path, :class => "button" %>
        <% end %>
      </div>
    </center>

  <% end %>
</div>
